.chatContainer,.chatContainer div, .chatContainer ul, .chatContainer li, .chatContainer p{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#8C85E6;
    -webkit-box-shadow:#8C85E6;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(175, 190, 255, 0.4);
}
/*按钮样式*/
.btn-default-styles {
    background-color:#1E9FFF; 
    color: #fff;
    width: 80px;
    height: 26px;
    border-style: none;
}
.btn-default-styles:hover {
    background: #1E9FFF;
}


.chatContainer{
    position: fixed;
    bottom: 50px;
    right: 20px;
}
.chatBtn{
    width: 50px;
    height: 50px;
    background: #1E9FFF;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #d4d4d4;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.chatBtn:hover{
    background: #1E9FFF;
    box-shadow: none;
}
.chatBtn>i{
    font-size: 25px;
}
.chatBox{
    width: 370px;
    min-width: 320px;
    height: 570px;
    border-radius: 10px;
    background: #f5ecff;
    position: absolute;
    bottom: 0;
    right: 70px;

    overflow: hidden;
    border: solid 1px #d5d5d5;
    box-shadow: 1px 1px 2px #c0c0c0;
    z-index: 1005;
}
.chatBox-head{
    width: 100%;
    height: 75px;
    background: #1E9FFF;
    position: absolute;
    top: 0;
    left: 0;
}
.chatBox-bottom{
    width: 100%;
    height: 25px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.chatBox-head-one{
    width: 100%;
    height: 75px;
    line-height: 75px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.chat-close{
    float: right;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.chat-close:hover{
    background: #1E9FFF;
}
.chatBox-info{
    width: 100%;
    height: 495px;
    background: #fff;
    text-align: left;
    position: absolute;
    top: 75px;
    left: 0;
}
.chatBox-list{
    width: 100%;
    height: 445px;
    overflow-y: scroll;
}
.chatBox-content{
    width: 100%;
}
.chatBox-content-demo{
    width: 100%;
    overflow-y: scroll;
}

.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
.clearfloat{
    zoom:1;
    margin: 10px 10px;
}
.clearfloat .right{
    float: right;
}

.clearfloat .chat-message{
    max-width: 252px;
    text-align: left;
    padding: 8px 12px;
    border-radius: 6px;
    word-wrap:break-word;
    display: inline-block;
    position: relative;
}


.clearfloat .left .chat-message{
    background: #D9D9D9;
    min-height: 36px;
}
.clearfloat .left .chat-message:before{
    position: absolute;
    content: "";
    top: 8px;
    left: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #D9D9D9;
}

.clearfloat .right{
    text-align: right;
}
.clearfloat .right .chat-message{
    background: #D9D9D9;
    text-align: left;
    min-height: 36px;
}
.clearfloat .right .chat-message:before{
    position: absolute;
    content: "";
    top: 8px;
    right: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #D9D9D9;
}

.chatBox-send{
    width: 100%;
    padding: 10px 5px;
    background: #eee;
    border-top: 1px #D0D0D0 solid;
    position: absolute;
    bottom: 0;
    left: 0;
}
.div-textarea{
    width: 260px;
    min-height: 20px;
    max-height: 100px;
    _height: 120px;
    text-align: left;
    padding: 3px;
    outline: 0;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    user-modify: read-write-plaintext-only;    /*纯文本*/
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
}
.div-textarea:focus{
    box-shadow: 0 0 15px rgba(82, 168, 236, 0.6);
}
.chatBox-send>div{
    float: left;
}
.chatBox-send>div:nth-of-type(2){
    font-size: 0;
}
.chatBox-send>div button{
    padding: 1px 5px;
    margin-left: 3px;
}
.chatBox-send>div label{
    padding: 1px 5px;
    margin-left: 3px;
}
.hidden{
    display: none;
}

@media all and (max-width: 768px) {
    .chatBox{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}